body {
    font-family: Arial, sans-serif;
    background-color: #4caf10;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: linear-gradient(45deg, #4caf50, #4caf00);
    background-size: 400% 400%;
    animation: gradientRotate 10s ease infinite;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #4caf50, #4caf00);
    background-size: 400% 400%;
    transition: background 12s ease-out;
    pointer-events: none;
}

.container {
    height: 565px;
    width: 50%;
    padding: 27px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

input {
    padding: 8px;
    margin: 10px 0;
}

button {
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#map-container {
    height: 600px;
    width: 50%;
    padding: 9.5px;
}

.leaflet-draw-toolbar {
    display: none;
}

.container h1 {
    position: relative;
    background: linear-gradient(45deg, #4caf50 30%, #4caf00);
    background-size: 400% 400%;
    color: #fff;
    padding: 30px;
    border-radius: 1px;
    margin: 0;
    text-align: center;
    z-index: 1;
    animation: gradientRotate 10s ease infinite;
}

.container h1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    transition: background 12s ease-out;
    z-index: -1;
    pointer-events: none;
}

@keyframes gradientRotate {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

#img {
    height: 110px;
    width: 110px;
    margin-top: 9.5px;
    margin-bottom: 10px;
    display: block;
}

/* Media Query for tablets and larger devices */
@media only screen and (min-width: 768px) {
    .container {
        width: 70%;
    }

    #map-container {
        height: 600px;
    }
}

/* Media Query for larger desktops */
@media only screen and (min-width: 1200px) {
    .container {
        width: 60%;
    }
}
